.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.oxlintrc.json
**/.oxfmtrc.json
**/.fallowrc.json
.fallow-baselines/**
**/*.map
**/*.ts
**/.vscode-test.*
